body{
    background-color:lightcyan;
}
.header_div{
    background-color:whitesmoke;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    margin-top: 0px;
}